<style>
  body{
    background:#ffc0cb;
  }
</style>

<div style="position:relative; margin:auto; text-align:center; top:20px">
  <a href="/home/index"><img src="/sources/logo.png" style="height:40px;"></a>
</div>

<div class="row" style="margin-top:70px">
  <!-- reporter ------------------------------------------------------------------>
  <div class="col-md-2" style="text-align:center">
    <div class="reporter_image">
      <!-- <img class="reporter_mark" src="/sources/profile-3.png"> 공식기자 인증마크 -->
    </div>
    <h4><%= @post.reporter_name %> | <%= @post.from %></h4>
      <!-- <a class="button_back" href="javascript:history.back()">Back</a><br> -->
  </div> <!--col-md-2-->

  <!-- NEWS ---------------------------------------------------------------------->
  <div class="col-md-8"> <!-- news -->

  <!-- TITLE --------------------------------------------------------------------->
    <div>
      <a href="/home/main/<%= @post.id %>">
        <h1 class="article_title"><%= @post.title %></h1>
      </a><br>
      <style>.article_title:hover { color:white; }</style>
      <div class="col-md-6 mini_info"><%= @post.written_at %></div>
      <div class="col-md-6 mini_info" style="text-align:right">
        <img src="/sources/icon/icons-view2.png" class="mini_icon"> 조회수 &nbsp;<span class="mini_info2"><%= @view_count %></span>&nbsp;
        <img src="/sources/icon/icons-reply2.png" class="mini_icon"> 버블 &nbsp;<span class="mini_info2"><%= @post.replies.count %></span>&nbsp;
        <img src="/sources/icon/icons-gdj2.png" class="mini_icon"> 껌딱지 &nbsp;<span class="mini_info2"><%= @post.ggum_ddak_ji_percentage %></span>%
      </div>
      <input type="hidden" id="userId" value="2">
    </div>

    <div class="box_contents">
      <a href="/home/main/<%= @post.id %>"><h2>#태그1</h2></a><br>

      <% @replies.each do |reply| %>
        <div class="col-md-4">
          <div class="bubble2" style="background-image: url('<%= reply.img_url %>');" data-toggle="modal" data-target="#myModal-<%=reply.id%>">
            <div><%= reply.content %></div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal-<%=reply.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <a href="/home/main/<%= @post.id %>" stlye="font-size:20pt"><h4 class="modal-title" id="myModalLabel">#태그</h4></a>
              </div>
              <div class="modal-body">
                <img src="<%= reply.img_url %>"><br><br>
                <h3>ID</h3><br>
                댓글내용(text)
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div> <!--col-md-8-->

  <div class="col-md-2">
    <a class="button_back" href="javascript:history.back()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="top:2px"></span>Back</a><br>
  </div>

</div> <!--row-->

<style>
</style>
