<style>
  body{
    height:100vh;
    overflow-y:hidden;
    background:#ffc0cb;
  }
</style>

<a href="/home/login"><div class="index_logo"></div></a>


<!--CONTENT ------------------------------------------------------------------->
<div class="white_bg">

  <!--Background--------------------------------------------------------------->
  <div class="list_name">#당신이_과학자라면</div>
  <div class="row" style="opacity:0.2">
    <div class="col-md-1"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <div class="machine">
        <div class="machine_name">과학</div>
        <img class="lever" style="cursor:default;" src="/sources/lever2.png">
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
  </div>

  <!--article------------------------------------------------------------------>
  <div class="row" style="margin:0;">

    <% @posts.each do |post| %>
      <div class="col-md-3">

        <a href="/home/listpre/<%= post.id %>">
          <div class="listbox">
            <h5 class="listbox_title"><%= post.title %></h5>
            <h6 class="listbox_info"><%= post.written_at %></h6>
            <div class="listbox2" style="background-image:url(<%= post.img_url %>);"></div>

          </div>
        </a>

        <div style="position:absolute; top:-550px; left:40%">
          <div class="bubble1">
            <div>
              <%= post.image_reply_length %>
            </div>
          </div>
        <% 3.times do |idx| %>
          <% unless post.replies[idx].nil? %>
            <%= post.replies[idx].location_text %>
          <% end %>
        <% end %>
        </div>

      </div> <!--col-md-3-->
    <% end %>

  </div>


<style>
  @keyframes circle {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
  }
  @keyframes inner-circle {
    from { transform:rotate(0deg); }
    to { transform:rotate(-360deg); }
  }

  .bubble1 {
    position:absolute;
    width:100px;
    height:100px;
    margin: 20px auto 0;
    background:pink;
    border-radius:50%;
    border:3px solid black;
    color:black;
    font-size:30px;
    line-height:100px;
    animation: circle 10s linear infinite;
    transform-origin:50% 170px;
    text-align:center;
    opacity:0.5;
  }
  .bubble1 > div {
    animation: inner-circle 10s linear infinite;
  }
  .listbox:hover .bubble1 {
    opacity:1;
  }
</style>


</div><!--white_bg-->


<div class="clock" id="clockbox"></div>



<!-- date&time -->
<script>
  tday=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday");
  tmonth=new Array("01","02","03","04","05","06","07","08","09","10","11","12");

  function GetClock(){
    var d=new Date();
    var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getYear();
    if(nyear<1000) nyear+=1900;
    var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds(),ap;

    if(nhour==0){ap="AM";nhour=12;}
    else if(nhour<12){ap="AM";}
    else if(nhour==12){ap="PM";}
    else if(nhour>12){ap="PM";nhour-=12;}

    if(nmin<=9) nmin="0"+nmin;
    if(nsec<=9) nsec="0"+nsec;

    // document.getElementById('clockbox').innerHTML=""+tday[nday]+", "+tmonth[nmonth]+" "+ndate+", "+nyear+" "+nhour+":"+nmin+":"+nsec+ap+"";
    document.getElementById('clockbox').innerHTML=""+nyear+"."+tmonth[nmonth]+"."+ndate+" "+nhour+":"+nmin+":"+nsec+ap+"";

  }

  window.onload=function(){
  GetClock();
  setInterval(GetClock,1000);
  }
</script>
